/* Post */
.post {
  margin-bottom: 30px;
}

/* Post Header */
.post .header img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

/* Post Image */
.post .image {
  padding: 0;
  cursor: pointer;
}
.post .image img {
  width: 100%;
}
.post .image .fa-heart {
  position: absolute;
  font-size: 20vw;
  color: white;
  left: 50%;
  top: 50%;
  margin-left: -10vw;
  margin-top: -10vw;
  opacity: 0;

  animation-name: post-heart;
  animation-duration: .5s;
}

@keyframes post-heart {
  0% {
    transform: scale(.3);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Post Controls */
.post .controls {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background: rgba(250, 250, 250, 1);
}
.post .controls i {
  margin: 10px;
  font-size: 1.7em;
}
.post .controls i.fa-heart {
  color: red;
}

/* Post Likes */
.post .likes {
  padding: 10px 0 0 20px;
  font-weight: bold;
}
